torch
torchvision
torchaudio
torchtext
pytorch-lightning
torchmetrics
torchsummary
torchviz
numpy
scipy
scikit-learn
scikit-image
pandas
matplotlib
seaborn
plotly
opencv-python
albumentations
imgaug
tensorboard
tqdm
loguru
pyyaml
ipython
jupyter
notebook
black
h5py
pyarrow
open3d
pillow
pytest
hydra-core
wandb
dash
pyvis
networkx
numba
dask
cython
joblib
fastapi
uvicorn
litserve